<section class="pt-3">
    <div class="container row pt-5 mt-3 pb-5">
       <div class="w-100">
            <div class="w-100 text-center">
                <h2>PREGUNTAS FRECUENTES</h2>
            </div>
            <ngx-slick-carousel  class="carousel w-100"  #slickModal="slick-carousel"  [config]="slideConfig"  (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)" (beforeChange)="beforeChange($event)">
                
                <mat-card ngxSlickItem *ngFor="let question of questions" class="mr-2 slide">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>{{question.userid.username}}</mat-card-title>
                        <mat-card-subtitle>{{question.userid.name}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p>
                        {{question.principalQuestion}}
                        </p>
                        <mat-card-subtitle>{{question.asignature.description}}</mat-card-subtitle>
                    </mat-card-content>
                    <mat-card-actions>
                        <button routerLink="question/{{question.id}}" mat-button>VIEW</button>
                    </mat-card-actions>
                </mat-card>
                
            </ngx-slick-carousel>
       </div>
       <div class="w-100 mt-2">
            <div class="w-100 text-center">
                <h2>TEMAS EXPLICADOS</h2>
            </div>
            <mat-card *ngFor="let tema of temas" class="example-card slide mt-2">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>{{tema.userid.username}}</mat-card-title>
                    <mat-card-subtitle>{{tema.userid.name}}</mat-card-subtitle>
                </mat-card-header>
                <div class="w-100" style="text-align: center;">
                    <youtube-player 
                        videoId="{{tema.link}}" 
                        suggestedQuality="highres"
                        [height]="250" 
                        [width]="500" 
                        [startSeconds]="4"
                        [endSeconds]="8">
                    </youtube-player>
                </div>
                <mat-card-content>
                    <mat-card-title>{{tema.title}}</mat-card-title>
                    <p>
                    {{tema.shortdescription}}
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>VIEW</button>
                </mat-card-actions>
            </mat-card>
       </div>
    </div>
</section>

<div style="position: fixed; bottom:2rem; right: 2rem;">
    <button (click)="openBottomSheet()" mat-mini-fab color="primary" >
        <mat-icon>add</mat-icon>
    </button>
</div>
