
<div class="example-container">
    <mat-toolbar   class="example-toolbar p-0 " color="primary" style="display: block;">
      <!-- <div *ngIf="loader.isLoading | async" class="loader" style="z-index: 999; width: 100%;">
        <mat-progress-bar color="accent"   style="height: 0.3rem;" mode="indeterminate"></mat-progress-bar>
      </div> -->
      <div class="row m-0 w-100 h-100">
        <div class="h-100 d-flex" style="align-items: center;">
          <button  mat-icon-button class="bar ml-2" (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
          <h1 class="example-app-name pl-2">AYUDA EDUCATIVA</h1>
        </div>
        <span class="spacer"></span>
        <button *ngIf="token" matTooltip="Mi Cuenta"  mat-icon-button [matMenuTriggerFor]="menu" class="h-100 mr-2">
          <mat-icon>account_circle</mat-icon>
        </button>
        <button *ngIf="!token" routerLink="login" matTooltip="login" mat-icon-button class="h-100 mr-2">
          <mat-icon>login</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button routerLink="miCuenta" mat-menu-item>
            <mat-icon>manage_accounts</mat-icon>
            <span>Mi Cuenta</span>
          </button>
          <button (click)="logOut()" mat-menu-item>
            <mat-icon>logout</mat-icon>
            <span>Cerrar Sesión</span>
          </button>
        </mat-menu>  
      </div>
     
    </mat-toolbar>
    <div style="position: relative;">
      <mat-sidenav-container class="example-sidenav-container">
        <mat-sidenav #snav mode="side"   [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)" class="iconSidebar"  style="width: min-content;">
          <mat-nav-list class="p-2" >
            
              <!-- generales -->
              <a mat-list-item  matTooltip="home"    routerLink="" ><mat-icon class="iconSidebar">home</mat-icon></a>
              <a mat-list-item  matTooltip="Temas y cursos"    routerLink="temas" ><mat-icon class="iconSidebar">cast_for_education</mat-icon></a>
              <a mat-list-item  matTooltip="Becas y Ayudas"    routerLink="becas" ><mat-icon class="iconSidebar">question_mark</mat-icon></a>
              <a mat-list-item  matTooltip="control de Tiempo"    routerLink="schedule" ><mat-icon class="iconSidebar">schedule</mat-icon></a>
              <a mat-list-item  matTooltip="Registrate" routerLinkActive="active-list-item" *ngIf="!token"  routerLink="register" ><mat-icon class="iconSidebar">app_registration</mat-icon></a>
          </mat-nav-list>
        </mat-sidenav>
    
          <mat-sidenav-content>
              <router-outlet></router-outlet>
          </mat-sidenav-content>
      </mat-sidenav-container>
    </div>  
</div>

